*{

}
.parent{
    height: auto;
     width: auto;
    background-color: rgb(163, 182, 127)
}
.img{
    height: 500px;width: 600px;
    background-image: url(../Html_class/img/a07057e936944f22ef218b6484220172.jpg);
    background-repeat: none;
    background-position: center;

}


*{

}
.container {
  display: grid;                       
  grid-template-columns: 1fr 1fr 1fr;  
  gap: 20px;   
  border: solid, red;                               
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  background-color: violet;
  padding: 20px;
}

@1. Define the flipbook script */
@keyframes moveBox {
  from { margin-left: 0px; }   /* Start */
   to   { margin-left: 100px; } /* Finish */
}

/* 2. Attach it to your box and tell it to play for 2 seconds */
.box { */
  animation:/* moveBox 2s infinite;
}

